<div id="banner">
    <ul class="nav clear">
        <li><a href="https://www.tdouplus.com">TDOU+首页</a></li>
        <li><a href="/lasted/index.html">文档</a></li>
        <li class="right hiden"><a href="https://github.com/t-dou/"><i class="fa fa-github"></i></a></li>
    </ul>
    <h1>Kit
        <blockquote>v1</blockquote>
    </h1>
    <h2>Kit 设计初衷则是根据业务需求自由组合搭配其中组件, 项目在任何阶段都可以轻松接入。</h2>
    <h2 class="hiden">多个部分组成 Kit 基础组件、业务服务组件...</h2>

    <div class="btn-download"><a href="https://github.com/t-dou/Kit">立即尝鲜</a></div>

    <div class="code-demo">
        <div class="top-bar">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="window-content">
            <div class="line-numbers">
                <ol id="list">
                    <li style="height:10px;line-height:10px"><span class="line"></span></li>
                    <li style="height:10px;line-height:10px"><span class="line"></span></li>
                </ol>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>© 2020 KIT All Rights Reserved</p>

        <!-- 友盟 -->
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1276887284'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276887284%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</div>