<div id="banner">
    <ul class="nav clear">
        <li><a href="/lasted/index.html">文档</a></li>
        <li><a href="https://www.tdouplus.com">TDOU+土豆码庄</a></li>
        <li class="right hiden"><a href="https://github.com/t-dou/"><i class="fa fa-github"></i></a></li>
    </ul>
    <h1>Kit
        <blockquote>v0.1 preview</blockquote>
    </h1>
    <h2>Kit 设计初衷则是根据业务需求自由组合搭配其中组件, 项目在任何阶段都可以轻松接入。</h2>
    <h2 class="hiden">多个部分组成 Kit 基础组件、业务服务组件...</h2>

    <div class="btn-download"><a href="https://github.com/t-dou/Kit">立即尝鲜</a></div>

    <div class="code-demo">
        <div class="top-bar">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="window-content">
            <div class="line-numbers">
                <ol id="list">
                    <li style="height:10px;line-height:10px"><span class="line"></span></li>
                    <li style="height:10px;line-height:10px"><span class="line"></span></li>
                </ol>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>© 2020 KIT All Rights Reserved | <a href="https://kit.tdouplus.com/sitemap.xml" style="text-decoration:none;color: #888;">网站地图</a></p>
    </div>
</div>
